*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway';
    border: none;
}
.h1{
    display: flex;
    color:red;
    align-items: center;
    justify-content: center;
    background-color: #0008;
    font-family: 'Parkinsans', 'Times New Roman', Times, serif;
    padding: 1rem;
}
.h1:hover{
    transition: 2s;
    color:#fff;
}
.header{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.firstLine{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.link{
    color:#fff;
    text-decoration: none;
    
}
.link:hover{
    color:#f00;
    text-decoration: underline;
}
.spider{
    width: 30px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 100%;
    display: grid;
    place-items: center;
}
.spider:hover{
    color: #f00;
    background-color: #8007;
    text-decoration: none;
}
.body{
    background: linear-gradient(#ddd,#fff);
    height: 100vh;
}
.queery{
    display:flex;
    padding: 1rem;
}
.foto{
    width: 350px;
    height: 400px;

}
.foto:hover{
    filter: blur(3px) ;
    box-shadow: 0 0 40px 0 #0009;
    transition:filter 4s, box-shadow 0.8s ease-in-out;
}
.texto{
    display: flexbox;
}
.pregunta{
    padding: 1rem;
    display: flex;
    align-items: 50vw;
}
.formulario{
    display: flexbox;
    margin-left: 1rem;
    border:solid 1px red;
    width: fit-content;

}
.input1{
    margin: 1rem;
    display: flex;
    border: solid 0.2rem transparent;
    background-color: transparent;
    border-left-color: #f00;
    border-bottom-color: #f009;
    border-top-color: transparent;
    border-right-color:transparent;
}
.input1::placeholder{
    color:#fa0;
    padding:0.4rem
}
.input2{
    margin: 1rem;
    display: flex;
    padding:0.3rem;
    background-color: #f009;
    border: solid 0.1rem #f00;
}
.nombres{
    display: flexbox;
    margin: auto;
    margin-bottom: 1rem;
    width: fit-content;
    background-color: #f009;
    color:#000;
}
.pick{
    padding: 1REM;
}
.bugs{
    padding: 1rem;
}
.formulario2{
    display:flexbox;
    margin: auto;
    width:fit-content;
    border: solid 1px #f00;
    padding: 1rem;
}
.bicho{
    display: flex;
    margin: 1rem;
    border: solid 0.2rem transparent;
    background-color: transparent;
    border-left-color: #f00;
    border-bottom-color: #f009;
    border-top-color: transparent;
    border-right-color:transparent;
}
.bicho::placeholder{
    color:#fa0;
    padding: 0.4rem;
}
.submit{
    margin: 1rem;
    display: flex;
    padding:0.3rem;
    background-color: #f009;
    border: solid 0.1rem #f00;
}
.footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    padding-top: 20px;
    background-color:darkslategrey;
}
.a{
    text-decoration: none;
    color: #50eb29;
}
.a:hover{
    color: red;
}
.a{
    transition:color 0.8s linear 0.4s;
}