*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway';
    border: none;
}
#h1{
    display: flex;
    color:red;
    align-items: center;
    justify-content: center;
    background-color: #0008;
    font-family: 'Parkinsans', 'Times New Roman', Times, serif;
    padding: 1rem;
}
#h1:hover{
    transition: 2s;
    color:#fff;
}
.header{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.firstLine{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.link{
    color:#fff;
    text-decoration: none;
    
}
.link:hover{
    color:#f00;
    text-decoration: underline;
}
.spider{
    text-decoration: none;
    color: #fff;
    width: 30px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 100%;
    display: grid;
    place-items: center;
}
.spider:hover{
    color: #f00;
    background-color: #8007;
    text-decoration: none;
}
.body{
    min-height: 100vh;
    background: linear-gradient(#ddd,#fff);
    height: 100%;
}
.content{
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
}
.bugs{
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
}
.queery{
    display:flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
}
.foto{
    width: 23vw;
    height: 45vh;
    object-fit: cover;
    align-self: center;
}
.foto:hover{
    box-shadow: 0 0 40px 0 #0009;
    transition:filter 4s, box-shadow 0.8s ease-in-out;
}
.pregunta{
    padding: 1rem;
    display: grid;
    text-align: center;
}
.formulario{
    display: flex;
    flex-direction: column;
    width: 20vw;
    gap: 1rem;
}
.input1{
    padding: 0.4rem 0;
    border: solid 0.2rem transparent;
    background-color: transparent;
    border-left-color: #f00;
    border-bottom-color: #f009;
    border-top-color: transparent;
    border-right-color:transparent;
}
.input1::placeholder{
    color:#fff9;
    padding:0.4rem
}
.input2{
    padding:0.3rem;
    background-color: #f009;
    border: solid 0.1rem #f00;
    text-align: center;
    color: #eee;
}
.footer{
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 40px;
    padding-top: 20px;
    position: absolute;
}